<!DOCTYPE html>

<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Training</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href='static/css/styles.css'>

        <script src="p5.min.js"></script>
        <script src="p5.dom.min.js"></script>
        <script src="p5.sound.min.js"></script>
    
        <!-- Generative Design Dependencies here -->
        <!-- GG Bundled -->
        <script src="gg-dep-bundle.js"></script>
        <!-- Opentype -->
        <script src="opentype.min.js"></script>
        <!-- Rita -->
        <script src="rita-small.min.js"></script>
        <!-- Chroma -->
        <script src="chroma.min.js"></script>
        <!-- Jquery -->
        <script src="jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
        <script src="Agent.js"></script><!-- sketch additions -->
        
    </head>

    <body>
           <!-- main -->
    <script src="sketch.js"></script>
    <script src="vehicle.js"></script>
    <script src="Agent.js"></script>

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="index.html">
              <img src="static/img/pngegg.png" width="40" height="40" style="margin-left:20px" alt="">
              Home
            </a>
        </nav>
         
        <br><br>
        <div class="card mx-auto" style="width: 50%; padding: 2%; border: none;">
        <header class="text-center mb-5">
            <h1 class="display-4 font-weight-bold">Training</h1>
            <p class="font-italic text-muted mb-0">asdasdasdasdasdasdasd.</p>
        </header>
   


        <div class="row">
            <div class="col-sm-6">
              <div class="card rounded shadow-sm border-0">
                <div class="card-body">
                  <h5 class="card-title">Regression</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <br><br>
                  <a href="results.html" class="btn btn-primary">Continue to results</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card rounded shadow-sm border-0">
                <div class="card-body">
                  <h5 class="card-title">Classification</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <br><br>
                  <a href="results.html" class="btn btn-primary">Continue to results</a>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
</body>


</html>