<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Preprocessing</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href='static/css/styles.css'>

        <script src="p5.min.js"></script>
        <script src="p5.dom.min.js"></script>
        <script src="p5.sound.min.js"></script>
    
        <!-- Generative Design Dependencies here -->
        <!-- GG Bundled -->
        <script src="gg-dep-bundle.js"></script>
        <!-- Opentype -->
        <script src="opentype.min.js"></script>
        <!-- Rita -->
        <script src="rita-small.min.js"></script>
        <!-- Chroma -->
        <script src="chroma.min.js"></script>
        <!-- Jquery -->
        <script src="jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
        <script src="Agent.js"></script><!-- sketch additions -->
        
    </head>


    <body>
           <!-- main -->
    <script src="sketch.js"></script>
    <script src="vehicle.js"></script>
    <script src="Agent.js"></script>

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="index.html">
              <img src="https://raw.githubusercontent.com/sujanbarama/Auto-ML-BigDataArchitecture/master/logo.jpg" width="160vw" height="90vh" style="margin-left:20px" alt="">
              
            </a>
        </nav>
        
        <br><br>
        <div class="card mx-auto" style="width: 50%; padding: 2%; border: none;">
        <header class="text-center mb-5">
            <h1 class="display-4 font-weight-bold">Preprocess</h1>
            <p class="font-italic text-muted mb-0" style="text-align:center;">If you would like us to perform preprocessing on your dataset, please upload it here. Our preprocessing steps include data cleaning, variable encoding, and data normalization. 
            </p>
        </header>
    
    
        

            <div class="row">
                <div class="col-sm-6">
                  <div class="card rounded shadow-sm border-0">
                    <div class="card-body">
                        <div class="dropdown show">
                            <!-- <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Choose a file
                            </a> -->
                          
                            <!-- <select name="files" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <option class="dropdown-item" >Action</option>
                              <option class="dropdown-item" >Another action</option>
                              <option class="dropdown-item" >Something else here</option>
                            </select> -->

                            
                            <br><br><br>

                            <!-- <a href="preprocessResults.html" class="btn btn-primary">Submit</a> -->
                            <p class="font-italic text-muted mb-0">Choose the Dataset for Preprocessing.</p>
                            <br>
                            <form action="/impute" method="POST" style="padding: 2%;">
                              <select name="files" id="files" style="padding: 3%;">
                                {% for i in data %}
                                 <option value='{{ i }}'>{{ i }}</option>
                                {% endfor %}
                              </select>
                              <br>
                              <br>
                              <button class="btn btn-primary" type="submit">Submit</button>
                            </form>

                          </div>
                    </div>
                  </div>
                  <br>
                  <iframe src="https://giphy.com/embed/l9FMyoT2dTM8ojAsSm" style="position: absolute; left: -2%; width: 550px; height: 250px;" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>

                </div>
                <div class="col-sm-6" >
                  <div class="card rounded shadow-sm border-0">
                    <div class="card-body" style="padding: 2%;">
                      <h5 class="card-title">How does it work</h5>
                      <p class="card-text" style="text-align:justify;"><b>Data cleaning:</b> This step involves removing irrelevant or redundant data, handling missing values, and dealing with outliers.
                        <br>
                        <b>Data transformation:</b> This step involves transforming the data into a suitable format that can be used by machine learning algorithms. This includes converting categorical data into numerical data, scaling and normalizing numerical data, and encoding features.
                        <br>
                        <b>Selection</b> : This step involves selecting the most relevant features from the dataset. This helps to reduce the complexity of the model and improve its accuracy.
                        <br>
                        <b>Dimensionality reduction:</b> This step involves reducing the number of features in the dataset by eliminating redundant or correlated features. This helps to improve the efficiency of the model and reduce overfitting.
                        <br>
                        <b>Data splitting:</b> This step involves splitting the dataset into training, validation, and testing sets. The training set is used to train the model, the validation set is used to tune the hyperparameters of the model, and the testing set is used to evaluate the performance of the model on new data.
                    </p>

                    </div>
                  </div>
                </div>
              </div>









        </div>

    </body>

      
  





</html>